* { 
 box-sizing: border-box;
} 
html, body { 
  margin: 0;
  padding: 0;
}
.paletra, .options {
  position: relative; 
  display: inline-block;
  width: 70vw;
  height: 70vw;
  float: right;
  background: #000;
}
.options {
  width: 29.9vw;
  float: left;
  background: #fff;
}
.text {
 position: absolute;
 margin-left: -50px;
 top: 35%;
 left: 50%;
 width: 100px;
 height: 75px;
 line-height: 75px;
 text-align: center;
 font-weight: bold;
 text-transform: uppercase;
 background: #fff;
}
